extends ../layouts/root.pug

block body
  h1 Hero
  .container
    include ../components/hero.pug

append css
  style.
    .container {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
